* {
     padding: 0;
     margin: 0;
     border: 0;
     list-style: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 20pt;
     box-sizing: border-box;
}

.container {
     height: 100vh;
     width: 100%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     justify-content: center;
     margin-top: 0.4rem;
     position: relative;
}

.calendarContainer {
     height: 15rem;
     padding: 0.5rem;
     border: 1px solid #ccc;   ;
     display:  flex;
     flex-direction: column;
     border-radius: 10px;
}
.calendarData {
      margin-top: 0.5rem;
}
.datedisplay {
     align-self: center;
}

.data_month_and_year {
     display: flex;
     flex-direction: column;
     border-bottom: 1px solid rgb(206, 206, 206);
}
.prev, .next {
      padding: 0.2rem;
} 
.prevMothnext{
     display: flex;
     justify-content: space-around;    
}

.year {
    font-size: 16pt;
    align-self: center;
    margin: 0.3rem 0 0.3rem 0;
}
.monthTitle {
      width: 40px;
}

.calendarData {
     display: flex;
     flex-direction: column;
}
.weekdays {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

.weekdays li {
         margin-left: 0.4rem;
    }
    
.days_of_week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;      
}
.days_of_week li {
    margin-left: 0.4rem;
    margin-top: 0.1rem;
}

.active {
   padding: 0.2rem;
   border: 1px solid rgb(204, 204, 204);
   border-radius: 100%;
   background: rgba(204, 204, 204, 0.5);
}

li { user-select: none;}

aside {
      /* margin-top: 4.2rem; */
      display: flex;
      justify-content: center;
}
/* .eventList li {
      background-color: aqua;
} */

.container  aside:nth-child(1) li {
     height: 1.4rem;
     width: 6rem;   
     text-align: center;
     font-size: 16pt;
     margin-bottom: 0.2rem;
     border-radius: 0.3rem;
     padding: 0.2rem;
     border: 1px solid #ccc;
}
.container  aside:nth-child(1) li:hover {
     border: 1px solid #666;   
     transition: 500ms ease-in-out;  
}

.form_data {
      width: 30rem;
      height: max-content;
      grid-column: 1/3;
      list-style: none;
      display: flex;
      justify-content: end;
      margin-left: 2.5rem;
}
form  input, button {
      font-size: 14pt;
      align-self: center;
      height: 1.5rem;
      border-radius: 0.2rem;
      padding: 0.1rem;
      outline: none;
}
form  input[type='text']:focus, .labelInputWithText {
      border-bottom: 1px solid #ccc ;
}
form  input[placeholder] {
      font-size: 11pt;
}
form  input[type='submit'] {
      padding: 0.4rem;
      border: 1px solid #cecece;
}
.eventList {
      grid-column: 3/4;
      grid-row: 1/3;
}
.eventList .containerCalendaEventSaved article:hover {
      transition: ease 300s;
      transform: scale(4.2);
}
button:hover,  input[type='submit']:hover  {
      background:  rgb(50, 2043, 2043, .6); 
      transition: 700ms ease-out;
}
.spanButton {
      display: grid;
      grid-template-columns: 1fr 1fr;
}
.spanButton span {
       text-align: center;
       border: 1px solid #ccc;
       border-radius: 5px;
       font-size: 12pt;
       padding: 5px;
}

.iconButton, .spanButton  {
       font-size: 16pt;
       color: aqua;
}
form legend { display: none;}

.labelInput {
      display: inline-block;
      margin: 1rem 0 0 2rem; 
      text-align: center;
}
label {
       text-align: center;
       font-size: 14pt;
       margin-right: 0.9rem;
}
label + input {width: 215px;}

.containerCalendaEventSaved {
       width: 13rem;
       margin: 0.2rem;
       padding: 0.1rem;
       border-radius: 5px;
       border: 1px solid #ccc;
       box-shadow: 2px 2px 5px #ccc;
}
.containerCalendaEventSaved article:nth-child(1) {
        background-color: transparent;
        border-radius: 5px;
        margin-left: 5px;
}
.containerCalendaEventSaved article span p:nth-child(1){
       margin-top: 0.3rem;
       font-size: 12pt;
}
.containerCalendaEventSaved article span p:nth-child(2){
       font-size: 16pt;
}
.containerCalendaEventSaved article div {
      margin-top: 15px;
      
}